body {
  background-color: teal;
}
.App {
  text-align: center;
  background-color: teal;
}

.App-header {
  background-color: teal;
  min-height: 100vh;
  padding: 2% 0% 0% 80%;
  font-size: 20px;
  color: white;
}

.App-div {
  cursor: pointer;
}
